.img-container {
  width: 100%;
  height: 300px;
  border: 1px solid #eee;
  position: relative; /* 作为图片定位的参考 */
  overflow: hidden; /* 可选：隐藏超出容器的部分 */
  opacity: 0.5;
}

.move-img {
  animation: movePath 8s ease infinite;
}

/* 斜向→右→下 循环移动 */
@keyframes movePath {
      0% {
        /* 初始位置：容器左侧外（-100px，避免突然出现） */
        transform: translateX(-100px); 
      }
      100% {
        /* 结束位置：容器右侧外（100vw=视口宽度） */
        transform: translateX(100vw); 
      }

}

.move-img:hover {
  animation-play-state: paused; /* 悬浮暂停，离开继续 */
  cursor: pointer; /* 鼠标手型，提升交互 */
}