body{
    font-family: sans-serif;/*字体加粗*/
    background-image: url("03lg.jpg");/*背景图片*/
    background-repeat: no-repeat;/*图片不重复*/
    overflow: hidden;/*溢出隐藏*/
    background-size: cover;/*背景覆盖窗口*/
}